#py
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
state.json

.env
auth_state.json
credentials.json
*.pem
*.pub

#aws
.aws/
terraform.tfstate
terraform.tfstate.backup
.terraform/

#scraping
test-results/
playwright-report/
blob-report/
playwright/.cache/

#downloads
downloads/
conteudo_faculdade/
*.log

.DS_Store
Thumbs.db