# docker-compose.prod.yml
services:
  api:
    build: .
    restart: unless-stopped
    command: ["uvicorn", "api.main:app", "--host", "0.0.0.0", "--port", "80"]
    env_file:
      - .env
    ports:
      - "80:80"
